<p>
  <strong><%= comment.user.name %></strong><br>
  <%= comment.content %>
</p>

<%= link_to "Delete", [comment.post, comment], method: :delete, class: "button is-danger is-small", data: { confirm: "Are you sure?" } %>