<section class="section">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column is-half">
      <h3 class="subtitle is-3 has-text-centered">Recent Posts</h3>
      <%= render "feed" %>
    </div>
    <div class="column">
    </div>
  </div>
</section>